<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @endereco.nome %>
</p>

<p>
  <b>Cep:</b>
  <%= @endereco.cep %>
</p>

<p>
  <b>Logradouro:</b>
  <%= @endereco.logradouro %>
</p>

<p>
  <b>Numero:</b>
  <%= @endereco.numero %>
</p>

<p>
  <b>Complemento:</b>
  <%= @endereco.complemento %>
</p>

<p>
  <b>Info ref:</b>
  <%= @endereco.info_ref %>
</p>

<p>
  <b>Bairro:</b>
  <%= @endereco.bairro %>
</p>

<p>
  <b>Cidade:</b>
  <%= @endereco.cidade %>
</p>

<p>
  <b>Estado:</b>
  <%= @endereco.estado %>
</p>

<p>
  <b>Cliente:</b>
  <%= @endereco.cliente_id %>
</p>


<%= link_to 'Edit', edit_endereco_path(@endereco) %> |
<%= link_to 'Back', enderecos_path %>
